@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');



.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
  padding-left: 10px;
  padding-right: 10px;
}
.container{
  padding-left: 10px;
  padding-right: 10px;
}
.row{
  margin-left: -10px;
  margin-right: -10px;
}

body{
  font-family: 'Lato'; 
  background-color: #F5F5F5;
  color: #3F3F3F;
  font-size: 16px;
}
body input{
  background-color: #FFFFFF;
  color: rgba(63, 63, 63, 0.5);
  border-radius: 50px;
  border:  1px solid rgba(0, 0, 0, 0.1);
  padding-left: 14px;
  height: 44px;
}
body textarea{
  background-color: #FFFFFF;
  color: rgba(63, 63, 63, 0.5);
  border-radius: 25px;
  border:  1px solid rgba(0, 0, 0, 0.1);
  padding-left: 14px;
  height: 108px;
}
body input::-webkit-input-placeholder,
body textarea::-webkit-input-placeholder {
  color: rgba(63, 63, 63, 0.5); 
} 
body input::-moz-placeholder,
body textarea::-moz-placeholder {
  color: rgba(63, 63, 63, 0.5);
}
header {
  background-color: #F5F5F5;
  color: #3F3F3F;
}
header a {
  text-decoration: none;
  outline: none;
  display: block;
  transition: .3s ease-in-out;
}
body a{
  color: #3F3F3F;
  text-decoration: underline;
}
body a:hover{
  color: #3F3F3F;
  text-decoration: none;
}
header p{
  margin: 0;
}
h2{
  font-size: 45px;
  text-align: center;
  margin-bottom: 40px;
}
h1{
  font-size: 38px;
  margin-bottom: 30px;
}
button{
  cursor: pointer;
}
.logo {
  color: #D5B45B;
  font-family: 'Playfair Display', serif;
  font-size: 2.5em;
  padding: 20px 0;
}
nav {
  display: table;
  width: 100%;
}
nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.slider-product-targets{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.imgw100 img{
  width: 100%;
}
/*.topmenu:after {
  content: "";
  display: table;
  clear: both;
}*/
.topmenu > li {
  /*width: 25%;
  float: left;*/
  padding: 34px 0;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
.topmenu > li > a,
.topmenu li div {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #3F3F3F;
  /*padding: 15px 30px;*/
}
.topmenu li a:hover { color: #A60101; text-decoration: none; }


.search {
	position: relative;
}
.search .input {
	width: 100%;
	padding: 8px 37px 9px 15px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	height: 36px;
}
.search .input:focus {
	box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
}
.search .submit {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	width: 37px;
	height: 100%;
	cursor: pointer;
	background: url(../img/icons/search.svg) 40% no-repeat;
}
.search .submit:hover {
	opacity: 0.8;
}
input[type="search"] {
	-webkit-appearance: none;
}

.placemarkImg{
  float: left;
  margin-right: 13px;
}

.first-line-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.all-photos-row{
  justify-content: flex-end;
}

.counter{
  position: absolute;
  top: 13px;
  right: 11px;
  width: 15px;
  height: 15px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A60101;
  border-radius: 100%;
  color: #fff;
}

.first-line .row{
  padding-top: 15px;
  padding-bottom: 19px;
  align-items: center;
}
.border-line{
  border-bottom: 1px solid rgba(82, 60, 49, 0.08);
}
.second-line .row{
  /*padding: 15px 0px;*/
  align-items: center;
}

.greenTranspBtn{
  background-color: transparent;
  color: #24824D;
  font-size: 12px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.greenTranspBtnDiv{
  border-bottom: 1px solid #24824D;
}
.greenTranspBtnDiv:hover{
  border-bottom: none;
}
.yellowBtn{
  width: 205px;
  height: 45px;
  border: none;
  background-color: #FCD02B;
  border-radius: 25px;
  color: #3F3F3F;
  cursor: pointer;
}
.yellowBtn:hover{
  opacity: 0.95;
}

.slide-header{
  font-size: 100px;
  letter-spacing: 0.05em;
  margin-bottom: 25px;
  font-weight: bold;
  color: #fff;
}
.slide-text{
  font-size: 60px;
  margin-bottom: 44px;
  letter-spacing: 0.05em;
  color: #fff;
}

.slider-main .slider-main-img{
  background-image: url("../img/img1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 543px;
}
.slider-main .container{
  display: flex;
  height: 100%;
  align-items: center;
}

.img-rounded{
  justify-content: space-between;
  padding: 60px 0;
}
.img-rounded .img-card{
  height: 220px;
  width: 220px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.img-rounded .val1{
  background-image: url('../img/val1.png');
}
.img-rounded .val2{
  background-image: url('../img/val2.png');
}
.img-rounded .val3{
  background-image: url('../img/val3.png');
}
.img-rounded .val4{
  background-image: url('../img/val4.png');
}
.img-rounded .val5{
  background-image: url('../img/val5.png');
}
.img-rounded h3{
  color: #523C31;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  margin-bottom: 20px;
}

.advantages{
  text-align: center;
  padding-top: 106px;
  padding-bottom: 130px;
}
.advantages img,
.product-targets img{
  margin-bottom: 15px;
}

.product-targets{
  padding-bottom: 130px;
}
.product-targets h2{
  text-align: center;
  margin-bottom: 50px;
}
.product-targets h3{
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}
.product-targets .col-auto{
  padding: 0;
}

.subscribe{
  background-color: #F7F7F7;
  padding: 75px 0;
}
.subscribe input[type="text"],
.subscribe input[type="email"]{
  height: 45px;
  width: 245px;
}
.subscribe form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.subscribe-text p:first-child{
  font-size: 36px;
}

.our-products h2{
  text-align: center;
  margin-bottom: 58px;
}
.our-products img{
  margin-bottom: 23px;
  width: 100%;
}
.our-products p a{
  color: #3F3F3F;
  text-decoration: underline;
}
.our-products p a:hover{
  color: #3F3F3F;
  text-decoration: none;
}
.all-photos{
  font-size: 12px;
  text-transform: uppercase;
  border: none;
  background: transparent;
  color: #24824D;
  border-bottom: 1px solid #24824D;
  cursor: pointer;
  margin-bottom: 35px;
}
.our-products{
  padding-top: 80px;
  padding-bottom: 110px;
}

.feedback{
  background-image: url('../img/bg1.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding: 70px 0;
}
.my-form-group input,
.my-form-group textarea{
  width: 100%;
}
.my-form-group{
  margin: 0 auto;
  width: 600px;
  padding: 0 10px;
}
.my-form-group input{
  margin-bottom: 17px;
}
.my-form-group p{
  margin-bottom: 0;
  margin-top: 6px;
  color: #fff;
  font-size: 12px;
}
.my-form-group p a{
  color: #fff;
  text-decoration: underline;
}
.my-form-group p a:hover{
  color: #fff;
  text-decoration: none;
}
.my-form-group h2{
  margin-bottom: 65px;
}
.my-form-group .greenBtn{
  margin-top: 25px;
  margin-bottom: 0;
}
.ask-us .my-form-group p{
  color: #3F3F3F;
}
.ask-us .my-form-group p a{
  color: #3F3F3F;
}
/*.ask-us .my-form-group input*/

footer{
  font-size: 14px;
  background-color: #fff;
}
.footer-main{
  padding-top: 75px;
  padding-bottom: 26px;
}
.footer-main p{
  margin-bottom: 13px;
}
footer .social-links{
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}
footer .social-links a{
  transition: 0.3s;
}
footer .social-links a:hover{
  opacity: 0.6;
}
footer ul{
  list-style: none;
  color: #3F3F3F;
  padding: 0;
  margin-bottom: 0;
}
footer ul li{
  padding: 5px 0px;
}
footer ul a{
  color: #3F3F3F;
}
footer ul a:hover{
  color: #3F3F3F;
}
.footerBtn{
  width: 100%;
  background-color: transparent;
  color: #24824D;
  border-radius: 25px;
  border: 1px solid #24824D;
  height: 45px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s;
}
.footerBtn:hover{
  border: 1px solid #ccc;
}

.last-line p,
.last-page, .first-page{
  margin: 0;
}
.last-line{
  padding-top: 20px;
  padding-bottom: 23px;
}

/*белые точки слайдера*/
.slider-main .my-dots{
  width: 75%;
  text-align: end;
}
.my-dots {
  position: absolute;
  bottom:  10px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}
.my-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.my-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.my-dots li button:hover,
.my-dots li button:focus {
  outline: none;
}

.my-dots li button:hover:before,
.my-dots li button:focus:before {
  opacity: 1;
  content: url('../img/icons/dotGreen.svg');
}
.my-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: url('../img/icons/dotEmpty.svg');
  text-align: center;
  opacity: 0.5;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   
}
.my-dots li.slick-active button:before {
  opacity: 1;
  content: url('../img/icons/dotGreen.svg');
  color: black;
}
/*about-company*/
.card-number p{
  display: inline-block;
  margin-bottom: 0;
  font-size: 36px;
  color: #24824D;
}
.card-number{
  display: flex;
  align-items: flex-end;
}
.card-white{
  padding: 19px 20px;
  text-align: center;
  background-color: #fff;
  width: 360px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.card-white p{
  margin-bottom: 0;
}
.card-white .title{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
}
.border-white{
  width: 100%;
  height: 15px;
  background-color: #fff;
}
.border-white-left{
  border-top-left-radius: 25px;
  border-top-right-radius: 50px;
}
.border-white-right{
  border-top-right-radius: 25px;
  border-top-left-radius: 50px;
}
.border-number{
  position: relative;
  right: 0px;
  width: 130px;
  text-align: center;
  bottom: -16px;
  background-color: #F5F5F5;
  border: 1px solid #F5F5F5;
  border-radius: 0px 0px 194px 194px / 0px 0px 150px 150px;
}
.cards{
  padding: 100px 0px;
}

.about-company-text{
  padding-left: 80px;
}
.video video{
  width: 100%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.video{
  padding-left: 0;
}
.about-company-text h2{
  text-align: left;
}
.about-company-text{
  display: flex;
  align-items: center;
}

.production-advantages{
  display: flex;
  flex-wrap: wrap;
}
.production-advantages-img{
  flex: 0 0 20%;
  max-width: 20%;
  margin-bottom: 46px;
}
.production-advantages-text{
  flex: 0 0 80%;
  max-width: 80%;
  display: flex;
  align-items: center;
  margin-bottom: 46px;
}
.production-advantages-text p{
  margin: 0;
}
.slider-production{
  height: 440px;
}
.slider-production img{
  width: 100%;
}
.our-production{
  padding-bottom: 80px;
}

.breadcrumb{
  background-color: #F5F5F5;
}
.breadcrumb-item+.breadcrumb-item::before{
  content: ">>"
}

.letters{
  padding-bottom: 130px;
}
.slider-letters .my-dots{
 bottom: -80px;
}

.sertificates{
  background-color: #fff;
  padding: 60px 0;
}

.partners{
  padding-top: 75px;
  padding-bottom: 150px;
}
.slider-partners .my-dots{
 bottom: -80px;
}

/*page-catalog*/
.catalog{
  padding-bottom: 75px;
}
.catalog h2{
  text-align: left;
}
.catalog-images{
  margin-bottom: 41px; 
}
.catalog-images div{
  height: 273px;
  border-radius: 25px;
  background-size: cover;
  margin-bottom: 32px;
  background-repeat: no-repeat;
}
.catalog-img1{
  background-image: url('../img/catalog/catalog-img1.png');
}
.catalog-img2{
  background-image: url('../img/catalog/catalog-img2.png');
}
.catalog-img3{
  background-image: url('../img/catalog/catalog-img3.png');
}
.catalog-img4{
  background-image: url('../img/catalog/catalog-img4.png');
}

/*page-catalog-subsection*/
.filters, .sorting{
  display: flex;
  margin-bottom: 50px;
}
.filters p, .sorting p{
  height: 55px;
  min-width: 137px;
  text-align: center;
  padding: 19px 0px;
  background-color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  color: #828282;
  margin-bottom: 0;
}
.filters .active, .sorting .active{
  text-decoration: underline;
  color: #3F3F3F !important;
}
.filters p:first-child,
.sorting p:first-child{
  background-color: #523C31;
  border-radius: 30px 0px 0px 30px;
  color: #fff;
}
.filters select{
  width: 284px;
  background-color: rgba(82, 60, 49, 0.12);;
  border-radius: 0px 30px 30px 0px;
  color: #3F3F3F;
  border: none;
  padding-left: 22px;
  padding-right: 20px;
}
.last-sorting{
  width: 100% !important;
  min-width: 0px !important;
  border-radius: 0px 30px 30px 0px;
}
.filter,.sort{
  cursor: pointer;
}
.filter:hover,.sort:hover{
  text-decoration: underline;
}
.product-card{
  background-color: #fff;
  border-radius: 25px;
  font-size: 18px;
  text-align: center;
  padding: 8px 50px 1px 50px;
  margin-bottom: 30px;
}
.product-card img{
  margin-bottom: 12px;
}
.product-new{
  left: 10px;
  position: absolute;
  top: 0px;
  background-color: #24824D;
  text-transform: uppercase;
  color: #fff;
  width: 30px;
  font-size: 14px;
  border-radius: 25px 0px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-sale{
  position: absolute;
  right: 20px;
  top: 10px;
}
.prev-page,.next-page{
  width: 45px;
  height: 45px;
  border-radius: 100%;
  border: 1px solid #24824D;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prev-page img{
  transform: rotate(180deg);
}
.pagination ul{
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  margin: 0 10px;
  font-size: 18px;
}
.pagination li,
.pagination .last-page,
.pagination .first-page{
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.prev-page, .next-page{
  cursor: pointer;
  transition: 0.3s;
}
.prev-page:hover, .next-page:hover{
  border: 1px solid #f5f5f5;
}
.pagination li{
  transition: 0.3s;
}
.pagination li:hover{
  background-color: #24824D;
  color: #fff;
  border-radius: 100%;
}
.pagination .active{
  background-color: #24824D;
  color: #fff;
  border-radius: 100%;
}
.products-on-page{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.products-on-page p{
  margin-bottom: 0;
  margin-right: 15px;
}
.products-on-page select{
  width: 64px;
  height: 45px;
  background-color: #24824D;
  border-radius: 50px;
  color: #fff;
  border: none;
  padding-left: 13px;
/*  padding-right: 12px;*/
  font-size: 18px;
}
.pagination-tools{
  justify-content: flex-end;
  padding-bottom: 58px;
  padding-top: 20px;
}

/*page-product*/
.slider-for-product .slider-for-product-img{
  height: 125px;
  width: 158px;
  display: flex;
  padding: 12px 40px;
  border-radius: 25px;
  background-color: #fff
}
.slider-for-product .slider-for-product-img img,
.slider-product .product-card img{
  width: 100%;
}
.slider-product .product-card{
  width: 100%;
  height: 430px;
  padding: 54px 100px;
}
.slider-product .product-card .product-new{
  left: 0px;
}
.slider-for-product-arrows{
  position: relative;
  top: -70px;
}
.slider-for-product .slick-slide{
  opacity: 0.6;
}
.slider-for-product .slick-current{
  opacity: 1;
}
.slider-for-product-prev{
  position: relative;
  left: -20px;
}
.slider-for-product-next{
  position: relative;
  right: -5px;
}
.arrows img{
  cursor: pointer;
}
.redBtn{
  color: #A60101;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -60px;
  left: 440px;
  border-bottom: 1px solid #A60101;
  background-color: #F5F5F5;
  text-transform: uppercase;
  transition: 0.3s;
}
.redBtn:hover{
  border-bottom: 1px solid #F5F5F5;
}


.cardValue button{
  width: 35px;
}
/*.cardValue input{
  height: 34px;
  width: 35px;
}*/
.cardValue button{
  width: 44px;
  background: #E0E0E0;
  border: 0;
  border-radius: 100%;
  font-size: 16px;
}
.cardValue input{
  width: 43px;
  height: 40px;
  color: #828282;
  padding: 0;
  background: #fff;
  border: 0;
  align-self: center;
  text-align: center;
}
.cardValue{
  border: 1px solid #E0E0E0;
  border-radius: 50px;
  height: 44px;
  width: 131px;
  background-color: #fff;
}
.greyBtn{
  color: #434344;
  text-transform: uppercase;
  border: none;
  border-bottom: 1px solid #434344;
  background-color: #F5F5F5;
  cursor: pointer;
  transition: 0.3s;
}
.greyBtn:hover{
  border-bottom: 1px solid #F5F5F5;
}
.greyBtn:focus{
  outline: none;
}
.buttons .greyBtn{
  border-bottom: 1px solid #F5F5F5;
  margin-right: 36px;
  opacity: 0.8;
  margin-bottom: 20px;
}
.buttons .greyBtn:hover{
  border-bottom: 1px solid #434344;
}
.buttons .active{
  opacity: 1;
  border-bottom: 1px solid #434344;
}
.greenBtn{
  background-color: #24824D;
  width: 201px;
  color: #fff;
  height: 45px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.total{
  font-weight: bold;
  font-size: 38px;
  color: #3F3F3F;
}
.select-white{
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 50px;
  color: #828282;
  height: 44px;
  width: 131px;
  padding-left: 14px;
}
.product-colors{
  display: flex;
  margin-left: 30px;
  margin-right: 40px;
}
.product-colors div{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 18px;
  cursor: pointer;
}
.product-colors div:hover{
  border: 3px solid #2163AD;
}
.product-colors .active{
  border: 3px solid #2163AD;
}
.product-colors .color-white{
  background-color: #fff;
}
.product-colors .color-grey{
  background-color: #969696;
}
.product-colors .color-black{
  background-color: #000;
}
.product-details{
  padding-bottom: 70px;
}
.product-description,
.related-product{
  padding-bottom: 60px;
}
.ask-us{
  padding-top: 40px;
  padding-bottom: 100px;
}
.ask-us-img{
  height: 461px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.ask-us-img img{
  width: 100%;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  background-color: #F5F5F5;
  border-bottom: 1px solid #3F3F3F;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s;
}
.inputfile:focus + label,
.inputfile + label:hover {
  border-bottom: 1px solid #F5F5F5;
}
.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
.my-form-group .user-file{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.ask-us .my-form-group textarea{
  margin-bottom: 23px;
}
.ask-us .my-form-group input[type="tel"]{
  margin-bottom: 27px;
}
.my-form-group .div-inputfile{
  margin-bottom: 45px;
}
#toTop {
  width:100px;
  padding:5px;
  position:fixed;
  bottom:40px;
  right:10px;
  cursor:pointer;
  display:none;
}
.mobile-line,
.footer-mobile-line,
.slider-mobile-main{
  display: none;
}

/*page-opt*/
.slider-partner-slide{
  width: 237px;
}

/*page-newses*/
.rounded-card{
  display: flex;
  border-radius: 25px;
  background-color: #fff;
  height: 208px;
  margin-bottom: 24px;
}
.rounded-card-img{
  width: 35%;
  background-size: auto;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px; 
}
.newses-img1{
  background-image: url('../img/news/1.png');
}
.newses-img2{
  background-image: url('../img/news/2.png');
}
.rounded-card-description{
  max-width: 65%;
  padding: 13px 12px 0px 22px;
}
.rounded-card-title{
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
}
.rounded-card-date{
  color: #828282;
  margin-bottom: 24px;
}
.rounded-card-text{
  margin-bottom: 0;
}
/*page-news*/
.news-img{
  height: 470px;
  width: 100%;
  border-radius: 25px;
}
.news-img img{
  border-radius: 25px;
}
.news-big-date{
  margin-bottom: 24px;
  color: #828282;
}
.about-news .redBtn{
  top: -90px;
}
.padding-bottom{
  padding-bottom: 60px;
}
/*page-questions*/
.questions .card{
  background: #F5F5F5;
  border: 0;
}
.questions .card-header{
  background: #F5F5F5;
  border: 0;
}
.questions .btn,
.questions .card-header,
.questions .card-body{
  padding-left: 0;
  padding-right: 0;
}
.questions .card-body{
  color: #828282;
  padding: 0;
  padding-left: 34px;
}
.questions .btn{
  width: 100%;
  display: flex;
  color: #3F3F3F;
  font-size: 20px;
  font-weight: bold;
}
.questions .btn img{
  display: flex;
  margin-right: 14px;
  margin-top: auto;
  margin-bottom: auto;
}
.questions .btn[aria-expanded="true"] img{
  transform: rotate(180deg);
}
/*page-reviews*/
.reviews-img1{
  background-image: url('../img/reviews/1.png');
}
.reviews-img2{
  background-image: url('../img/reviews/2.png');
}
/*page-contacts*/
.cities .city{
  font-size: 30px;
  margin-bottom: 11px;
  font-weight: bold;
}
.cities .adress{
  font-size: 18px;
  margin-bottom: 15px;
}
.cities .btn{
  font-size: 30px;
}
.map{
  width: 100%;
  height: 552px;
  margin-bottom: 60px;
}
.overmap{
  height: 552px;
}
/*page-basket*/
.basket-card{
  display: flex;
  flex-wrap: wrap;
  background: #FFFFFF;
  border-radius: 25px;
  font-size: 20px;
  padding: 22px 0;
  margin-bottom: 16px;
}
.basket-card p,
.delivery-way p,
.basket-finak-card p{
  margin-bottom: 0;
}
.basket-card .price{
  margin-left: 15px;
  color: #828282;
}
.delete-basket-product{
  display: flex;
  margin-left: auto;
  margin-right: 20px;
  cursor: pointer; 
}
.basket-card-div{
  display: flex;
  align-items: center;
}
.basket-card-img{
  width: 73px;
  height: 78px;
}
.basket-finak-card{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #FFFFFF;
  border-radius: 25px;
  font-size: 20px;
  padding: 22px 0;
  margin-bottom: 16px;
}
.total{
  font-size: 38px;
  font-weight: bold;
}
.total-price{
  font-weight: normal;
  margin-left: 11px;
}
.clear-basket{
  margin-right: 15px;
  margin-left: 20px;
  cursor: pointer;
}
.delivery-way{
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 25px;
  width: 256px;
  height: 108px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}
.delivery-way:hover,
.selected{
  border: 1px solid #24824D;
}
.order-form{
  display: flex;
  flex-wrap: wrap;
}
.order-form input,
.order-form textarea{
  width: 100%;
  margin-bottom: 16px;
  padding-right: 10px;
}
.order-form textarea{
  padding-top: 12px;
}
.order-form .input-adress{
 width: 710px;
}
.order-form .input-small{
  width: 251px;
}
.order-form p{
  font-size: 12px;
}
.container-fluid{
  padding-left: 10px;
  padding-right: 10px;
}
.catalog-images .catalog-img{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.catalog-img p{
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
}
.questions .btn{
  white-space: normal;
  text-align: left;
}
.topMap{
  width: 560px;
  height: 280px;
}
#inline1{
  width: auto !important;
  height: auto !important;
}
.fancybox-stage .card-header,
.fancybox-stage .card-body{
  border: 0;
  padding: 0;
  background-color: #fff;
}
.fancybox-stage .card{
  border: 0;
  background-color: #fff;
  padding: 37px 40px 40px 40px;
}
.fancybox-content{
  padding: 0 !important;
  border-radius: 25px;
}
#orderCall form{
  width: 365px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#orderCall form input{
  max-width: 100%;
  flex: 0 0 100%;
  margin-bottom: 17px;
}
#orderCall form .greenBtn{
  width: 100%;
}
#orderCall form a,
#orderCall form p{
  max-width: 48%;
  flex: 0 0 48%;
  margin-bottom: 0;
}
#orderCall form p,
#writeUs form p{
  font-size: 12px;
}
#writeUs form{
  width: 560px;
}
#writeUs form input,
#writeUs form textarea{
  width: 100%;
  margin-bottom: 17px;
}
#writeUs form .greenBtn{
  width: 201px;
  margin: auto;
}
#tableSize table{
  width: 600px;
  text-align: center;
}
#tableSize table th,
#tableSize table td{
  border: 1px solid #C4C4C4;
  font-size: 18px;
}
#review .row{
  width: 570px;
}
#review img{
  border-radius: 25px;
  margin-bottom: 40px;
}
.redArrow::before {
  content: "";
  position: absolute;
  top: 42px;
  right: 12px;
  bottom: 0;
 /* left: 0px;*/
  width: 7px;
  height: 1px;
  background: #061C2E;
  transform: rotate(30deg);
  transition: all 0.5s;
}
.redArrow::after {
  content: "";
  position: absolute;
  top: 42px;
  right: 6px;
  bottom: 0;
  /*left: 6px;*/
  width: 7px;
  height: 1px;
  background: #061C2E;
  transform: rotate(150deg);
  transition: all 0.5s;
}
.redArrow{
  width: 20px;
  height: 20px;
  display: block;
  /*position: absolute;*/
  top: 35%;
  right: 2%;
  margin-left: 5px;
}
.redOpen::after{
  transform: rotate(30deg);
  background: #A60101;
}
.redOpen::before{
  transform: rotate(150deg);
  background: #A60101;
}
.li-div{
  display: flex;
}
.slider-product .product-sale{
  top: 3%;
  right: 51%;
}
.adresses{
  padding: 30px 47px 30px 39px;
  background-color: #fff;
  position: absolute;
  z-index: 9;
  min-width: 320px;
  bottom: -500px;
}
.adresses .adresses-block{
  margin-bottom: 16px;
}
.adresses p{
  margin-bottom: 0;
}
.adresses-title{
  font-weight: bold;
}
.adresses .social-links{
  display: flex;
}
.adresses .social-links img{
  margin-right: 12px;
}
.products-on-page select{
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  background-image:url('../img/icons/selectWhite.svg');
  background-repeat:no-repeat;
  background-size:35px 15px;
  background-position:right 13px;
}
.filters select{
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  background-image:url('../img/icons/selectGrey.svg');
  background-repeat:no-repeat;
  background-size:35px 7px;
  background-position:right 25px;
}
.select-white{
   -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  background-image:url('../img/icons/selectGrey.svg');
  background-repeat:no-repeat;
  background-size:35px 7px;
  background-position:right 19px;
}

.fancybox-button--arrow_left,
.fancybox-button--arrow_right{
  width: 100px !important;
  border-radius: 100% !important;
  background-color: red !important;
}




























































@media (min-width: 1200px){
  .container{
  	max-width: 1304px;
  }
}

@media (min-width: 961px){
  .submenu {
    background: #F5F5F5;
    position: absolute;
    display: block;
    left: -40px;
    top: 100%;
    z-index: 5;
    width: 180px;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: .5s ease-in-out;
  }
  .submenu a {
    color: #3F3F3F;
    text-align: center;
    padding: 9px 18px;
    font-size: 13px;
    /*border-bottom: 1px solid rgba(255,255,255,.1);*/
  }
  .submenu li:last-child a { border-bottom: none; }
  .topmenu > li:hover .submenu {
    opacity: 1;
    transform: scaleY(1);
  }
  .topmenu > li:hover .redArrow::after{
    transform: rotate(30deg);
    background: #A60101;
  }
  .topmenu > li:hover .redArrow::before{
    transform: rotate(150deg);
    background: #A60101;
  }
  .topmenu > li:hover .li-div a{
    color: #A60101;
  }
  .slider-sertificates{
    display: flex;
    justify-content: space-between;

  }



}

@media (max-width: 960px){
  body{
    font-size: 14px;
  }
  h2, h1,
  .subscribe-text p:first-child{
    font-size: 28px;
  }
  .advantages{
    font-size: 20px;
  }
  .first-line,
  .second-line,
  .footer-main,
  .last-line{
    display: none;
  }
  .slider-mobile-main-img{
    text-align: center;
    background-image: url('../img/bg-mob.png');
    background-size: cover;
    height: 543px !important;
    align-items: center;
    display: flex !important;
  }

  .slider-main-img{
    text-align: center;
    background-image: url('../img/bg-mob.png');
    background-size: cover;
    height: 543px !important;
    align-items: center;
    display: flex !important;
  }

  .slide-header{
    font-size: 40px;
  }
  .slide-text{
    font-size: 30px;
  }
  .img-rounded,
  .slider-product-targets{
    justify-content: unset;
  }
  .img-rounded .col-auto{
    display: flex !important;
    justify-content: center;
  }
  .slider-product-targets img{
    margin-left: auto;
    margin-right: auto;
  }
  .mobile-line{
    display: flex;
  }
  .mobile-line .row{
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 11px 0;
  }
  .mobile-line .searchBtn{
    border: 0;
    background-color: transparent;
  }


  .search-container {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: -10px;
    top: 0;
    left: -140px;
    right: 0;
    bottom: 0;
    width: 280px;
    height: 100px;
  }
  .search-container .search {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 10px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: #F5F5F5;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
  }
  .search-container .search:hover {
    cursor: pointer;
  }
  .search-container .search::before {
    content: "";
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 10px;
    width: 7px;
    height: 2px;
    background: #061C2E;
    transform: rotate(45deg);
    transition: all 0.5s;
  }
  .search-container .search::after {
    content: "";
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #061C2E;
    transition: all 0.5s;
  }
  .search-container input {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 40px;
    outline: none;
    border: none;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(63, 63, 63, 1);
    padding: 0 40px 0 20px;
    border-radius: 50px;
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
  }
  .search-container input:hover {
    cursor: pointer;
  }
  .search-container input:focus {
    width: 100%;
    left: -250px;
    opacity: 1;
    cursor: text;
  }
  .search-container input:focus ~ .search {
    background: #fff;
    z-index: 6;
  }
  .search-container input:focus ~ .search::before {
    top: 0;
    left: 0;
    width: 15px;
  }
  .search-container input:focus ~ .search::after {
    top: 0;
    left: 0;
    width: 15px;
    height: 2px;
    border: none;
    background: #061C2E;
    border-radius: 0%;
    transform: rotate(-45deg);
  }
  .search-container input::placeholder {
    color: rgba(63, 63, 63, 0.5);
  }



  #nav-icon3 {
    width: 19px;
    height: 12px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  #nav-icon3 span{
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #3F3F3F;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  #nav-icon3 * {
    margin: 0;
    padding: 0; 
  }
  #nav-icon3 span:nth-child(1) {
    top: 0px;
  }
  #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 6px;
  }
  #nav-icon3 span:nth-child(4) {
    top: 12px;
  }
  #nav-icon3.open span:nth-child(1) {
    top: 6px;
    width: 0%;
    left: 50%;
  }
  #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #nav-icon3.open span:nth-child(4) {
    top: 6px;
    width: 0%;
    left: 50%;
  }

  .men{
  	display: none;
  }
  .mobile-line .active{
  	display: flex;
    flex-wrap: wrap;
    position: absolute;
    z-index: 10;
    top: 0;
    width: 100%;
    overflow: visible;
    background: #fff;
    top: 60px;
    background-color: #F5F5F5;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
  }
  .men ul{
  	padding-left: 0;
  	list-style: none;
    width: 100%;
  }
  .men .topmenu > li{
  	padding: 23px 0;
    padding-left: 15px;
  }

  
  .redArrow::before {
    content: "";
    position: absolute;
    top: 32px;
    right: 27px;
    bottom: 0;
   /* left: 0px;*/
    width: 7px;
    height: 1px;
    background: #061C2E;
    transform: rotate(30deg);
    transition: all 0.5s;
  }
  .redArrow::after {
    content: "";
    position: absolute;
    top: 32px;
    right: 21px;
    bottom: 0;
    /*left: 6px;*/
    width: 7px;
    height: 1px;
    background: #061C2E;
    transform: rotate(150deg);
    transition: all 0.5s;
  }
  .redArrow{
  	width: 20px;
  	height: 20px;
  	display: block;
  	/*position: absolute;*/
  	top: 35%;
  	right: 2%;
    margin-right: 15px;
  }
  .redOpen::after{
  	transform: rotate(30deg);
  	background: #A60101;
  }
  .redOpen::before{
  	transform: rotate(150deg);
  	background: #A60101;
  }
  .da{
  	position: unset;
  }
  .submenu{
  	display: none;
  }
  .slider-mobile-main{
  	display: flex;
  }
  .slider-main{
    display: flex;
  }

  .footer-mobile-line{
  	display: block;
  	background-color: #FFFFFF;
  }
  .greenWgiteBtn{
  	width: 100%;
  	background-color: #FFFFFF;
  	border: 1px solid #24824D;
  	color: #24824D;
  	border-radius: 25px;
  	margin-bottom: 30px;
  	height: 45px;
  }
  .footer-last-line{
  	border-top: 1px solid rgba(63, 63, 63, 0.3);
  	padding: 13px 0;
  	font-size: 12px;
  	align-items: center;
  }
  .footer-last-line p{
  	margin-bottom: 0;
  }
  footer .social-links{
  	margin-bottom: 30px;
  	margin-top: 30px;
  }
  #toTop{
    right: -40px;
  }
  .subscribe input[type="text"], .subscribe input[type="email"]{
    width: 100%;
    margin-bottom: 15px;
  }
  .subscribe .greenBtn{
    margin: auto;
  }
  .subscribe-text{
    text-align: center;
  }
  .all-photos-row{
    justify-content: center;
  }
  .my-form-group input{
    margin-bottom: 15px;
  }
  .my-form-group textarea{
    margin-bottom: 24px;
  }
  .li-div{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #3F3F3F;
  }
  .men .submenu{
    padding-left: 0;
    padding-top: 17px;
    padding-bottom: 0;
  }
  .men .submenu li{
    padding: 8px 0;
  }
  .liOpen{
    background-color: #fff;
  }
  .liOpen .submenu-link{
    color: #A60101;
  }
  .video{
    padding-right: 0;
  }
  .video video{
    border-radius: 0;
    margin-bottom: 40px;
  }
  .about-company-text{
    padding-left: 10px;
  }
  .cards .col-12{
    padding: 0;
  }
  .cards .card-white{
    width: 100%;
  }
  .production-advantages-img{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
  }
  .production-advantages-text{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
  }
/*  .sorting,.filters,*/
  .ask-us-img,
  .product-details .redBtn, .products-on-page{
    display: none;
  }
  .my-form-group,
  #writeUs form,
  #review .row,
  #tableSize table{
    width: 100%;
  }
  #tableSize table th{
    padding: 0 5px;
  }
  .rounded-card-img{
    max-width: 100%;
    flex: 0 0 100%;
    height: 252px;
    background-size: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .rounded-card-descriptiom{
    max-width: 100%;
    flex: 0 0 100%;
  }
  .rounded-card{
    flex-wrap: wrap;
    height: auto;
  }
  .news-img{
    height: auto;
    margin-bottom: 2rem;
  }
  .basket-card-img{
    width: 100%;
    height: auto;
  }
  .delivery-way{
    width: 100%;
    margin-bottom: 1rem;
  }
  .slider-product .product-card{
    height: auto;
    padding: 15px 40px;
  }
  .buttons .greyBtn{
    margin-right: 10px;
  }
  .total{
    margin-bottom: 1rem;
  }
  .basket-finak-card .basket-card-div{
    justify-content: center;
  }
  .filters-mobile,.sorting-mobile{
    background-color: rgba(82, 60, 49, 0.12);
    text-transform: uppercase;
    height: 55px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #3F3F3F;
  }
  .filters-mobile p,.sorting-mobile p{
    margin-bottom: 0;
  }
  .mobile-filters .open{
    background-color: #523C31;
    color: #fff;
  }
  .filter-sort-mobile .filters p,
  .filter-sort-mobile .sorting p{
    background-color: #fff;
    width: 50%;
    color: #828282;
  }
  .filter-sort-mobile .filters,
  .filter-sort-mobile .sorting{
    display: flex;
    background-color: #fff;
    border: 1px solid #523C31;
    flex-wrap: wrap;
    display: none;
  }
  .filter-sort-mobile .filters hr,
  .filter-sort-mobile .sorting hr{
    height: 1px;
    color: #E1DFDD;
    width: 100%;
    margin: 0;
  }
  .filters p:first-child, .sorting p:first-child{
    border-radius: 0;
  }
  .filter-sort-mobile .filters select{
    background-color: #fff;
    height: 55px;
    border-radius: 0;
    width: 100%;
  }
  .filter-sort-mobile .open{
    display: flex;
  }
  .filters, .sorting, .mobile-filters{
    margin-bottom: 0;
  }
  .products-row{
    margin-top: 30px;
  }
  .pagination li, .prev-page, .next-page, .pagination .last-page, .pagination .first-page{
    height: 35px;
    width: 35px;
  }
  .last-mobile-line{
    justify-content: center;
    padding: 10px 0;
    background-color: #fff;
    display: flex;
    border-top: 1px solid #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
  }
  .last-mobile-line img{
    margin: 0px 22px;
  }
  .prelast-mobile-line{
    display: flex;
    width: 100%;
    padding: 27px 0;
    flex-wrap: wrap;
    border-top: 1px solid #BDBDBD;
  }
  .prelast-mobile-line button{
    padding: 0;
  }
  .prelast-mobile-line .greenTranspBtnDiv{
    width: fit-content;
  }
  #orderCall form{
    width: 100%;
    justify-content: center;
  }
  .fancybox-stage .card{
    padding: 17px;
  }
  #orderCall form p{
    max-width: 100%;
    flex: 0 0 100%;
  }
  #orderCall form a{
    max-width: 80%;
    flex: 0 0 80%;
  }
  .thanks .fancybox-stage .card{
    padding: 22px;
  }
  .adresses{
    display: none;
  }
  .advantages,
  .production-advantages,
  .our-production,
  .product-details,
  .product-description,
  .catalog{
    padding-bottom: 50px;
  }
  .subscribe{
    padding-top: 0;
    padding-bottom: 50px;
  }
  .our-products{
    padding-top: 0;
  }
  .feedback{
    padding: 50px 0;
  }
  .slider-product-targets .my-dots,
  .slider-our-products .my-dots{
    bottom: -50px;
  }
  .product-targets,
  .our-products{
    padding-bottom: 80px;
  }
  .cards{
    padding: 50px 0;
  }
  .slider-production{
    height: auto;
  }
  .slide-letter,
  .slide-sertificate,
  .slide-partner{
    display: flex !important;
    justify-content: center;
  }
  .letters{
    padding-bottom: 110px;
  }
  .partners{
    padding-top: 50px;
    padding-bottom: 110px;
  }
  .catalog-images{
    margin-bottom: 0;
  }
  .product-colors{
    margin-bottom: 30px;
  }
  .buttons .greyBtn{
    margin-right: 42px;
  }
  .ask-us{
    padding-top: 0px;
    padding-bottom: 50px;
  }
  .watched-product-slider .my-dots,
  .related-product-slider .my-dots{
    bottom: -30px;
  }
  .related-product{
    padding-bottom: 60px;
  }
  .my-form-group h2{
    margin-bottom: 30px;
  }
  .map{
    height: 300px;
  }
  .newses-social{
    position: absolute;
    right: 0px;
    top: 65px;
  }
  .rounded-card-img{
    border-bottom-left-radius: 0;
  }
  .rounded-card-description{
    max-width: 100%;
    padding-bottom: 20px;  
  }
  .padding-bottom{
    padding-bottom: 50px;
  }
  .questions .btn{
    font-size: 16px;
  }
  #review img{
    margin-bottom: 30px;
  }
  .my-form-group p{
    margin-top: 0;
  }
  .my-form-group input,
  .ask-us .my-form-group input[type="tel"]{
    margin-bottom: 15px;
  }
  .ask-us .my-form-group textarea,
  .my-form-group .div-inputfile{
    margin-bottom: 25px;
  }
  .cities .btn{
    font-size: 25px;
  }
  .cities .city{
    font-size: 22px;
  }
  .cities .adress{
    font-size: 16px;
  }
  .cities{
    padding-bottom: 40px;
  }
  .basket-card .col-12{
    margin-bottom: 15px;
  }
  .basket-card .pl-lg-5 p{
    width: 100%;
    text-align: center;
  }
  .total{
    font-size: 35px;
  }
  .basket-card{
    font-size: 18px;
  }
  .topMap{
    height: 280px;
    width: 100%;
  }
  #inline1{
    width: 100% !important;
  }
  .mobile-home-link{
    position: relative;
    z-index: 1;
  }
  .slider-main .my-dots{
    width: 100%;
    text-align: center;
  }
  .catalog-images .col-12{
    padding: 0;
  }
  .catalog-images div{
    border-radius: 0;
  }
  .prelast-mobile-line a,
  .footer-mobile-content a{
    text-decoration: none;
    line-height: inherit;
  }

}
100
60
45
36
26
18
16
14
13
12