@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');



.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
  padding-left: 10px;
  padding-right: 10px;
}
.container{
  padding-left: 10px;
  padding-right: 10px;
}
.row{
  margin-left: -15px;
  margin-right: -15px;
}

body{
  font-family: 'Lato'; 
  background-color: #F5F5F5;
  color: #3F3F3F;
  font-size: 16px;
}
body input{
  background-color: #FFFFFF;
  color: rgba(63, 63, 63, 0.5);
  border-radius: 50px;
  border:  1px solid rgba(0, 0, 0, 0.1);
  padding-left: 14px;
  height: 44px;
}
body textarea{
  background-color: #FFFFFF;
  color: rgba(63, 63, 63, 0.5);
  border-radius: 25px;
  border:  1px solid rgba(0, 0, 0, 0.1);
  padding-left: 14px;
  height: 108px;
}
body input::-webkit-input-placeholder,
body textarea::-webkit-input-placeholder {
  color: rgba(63, 63, 63, 0.5); 
} 
body input::-moz-placeholder,
body textarea::-moz-placeholder {
  color: rgba(63, 63, 63, 0.5);
}
header {
  background-color: #F5F5F5;
  color: #3F3F3F;
}
header a {
  text-decoration: none;
  outline: none;
  display: block;
  transition: .3s ease-in-out;
}
body a{
  color: #3F3F3F;
  text-decoration: underline;
}
body a:hover{
  color: #3F3F3F;
  text-decoration: none;
}
header p{
  margin: 0;
}
h2{
  font-size: 45px;
  text-align: center;
  margin-bottom: 40px;
}
h1{
  font-size: 38px;
}
.logo {
  color: #D5B45B;
  font-family: 'Playfair Display', serif;
  font-size: 2.5em;
  padding: 20px 0;
}
nav {
  display: table;
  width: 100%;
}
nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
/*.topmenu:after {
  content: "";
  display: table;
  clear: both;
}*/
.topmenu > li {
  /*width: 25%;
  float: left;*/
  padding: 34px 0;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
.topmenu > li > a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #3F3F3F;
  /*padding: 15px 30px;*/
}
.topmenu li a:hover { color: #A60101; text-decoration: none; }
.submenu-link:after {
  content: "\f107";
  font-family: "FontAwesome";
  color: inherit;
  margin-left: 10px;
}
.submenu {
  background: #F5F5F5;
  position: absolute;
  display: block;
  left: -50%;
  top: 100%;
  z-index: 5;
  width: 180px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: .5s ease-in-out;
}
.submenu a {
  color: #3F3F3F;
  text-align: center;
  padding: 9px 18px;
  font-size: 13px;
  /*border-bottom: 1px solid rgba(255,255,255,.1);*/
}
.submenu li:last-child a { border-bottom: none; }
.topmenu > li:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
}

.search {
	position: relative;
}
.search .input {
	width: 100%;
	padding: 8px 37px 9px 15px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	height: 36px;
}
.search .input:focus {
	box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
}
.search .submit {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	width: 37px;
	height: 100%;
	cursor: pointer;
	background: url(../img/icons/search.svg) 40% no-repeat;
}
.search .submit:hover {
	opacity: 0.8;
}
input[type="search"] {
	-webkit-appearance: none;
}

.placemarkImg{
  float: left;
  margin-right: 13px;
}

.first-line-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter{
  position: absolute;
  top: 13px;
  right: 11px;
  width: 15px;
  height: 15px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A60101;
  border-radius: 100%;
  color: #fff;
}

.first-line .row{
  padding-top: 15px;
  padding-bottom: 19px;
  align-items: center;
}
.border-line{
  border-bottom: 1px solid rgba(82, 60, 49, 0.08);
}
.second-line .row{
  /*padding: 15px 0px;*/
  align-items: center;
}

.blueBtn{
  background-color: transparent;
  color: #0C419A;
  font-size: 12px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.blueBtnDiv{
  border-bottom: 1px solid #0C419A;
}
.blueBtnDiv:hover{
  border-bottom: none;
}
.yellowBtn{
  width: 205px;
  height: 45px;
  border: none;
  background-color: #FCD02B;
  border-radius: 25px;
  color: #3F3F3F;
  cursor: pointer;
}
.yellowBtn:hover{
  opacity: 0.95;
}

.slide-header{
  font-size: 100px;
  letter-spacing: 0.05em;
  margin-bottom: 25px;
  font-weight: bold;
  color: #fff;
}
.slide-text{
  font-size: 60px;
  margin-bottom: 44px;
  letter-spacing: 0.05em;
  color: #24824D;
}

.slider-main .slider-main-img{
  background-image: url("../img/img1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 543px;
}
.slider-main .container{
  display: flex;
  height: 100%;
  align-items: center;
}

.img-rounded{
  justify-content: space-between;
  padding: 60px 0;
}
.img-rounded div{
  height: 220px;
  width: 250px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.img-rounded .val1{
  background-image: url('../img/val1.png');
}
.img-rounded .val2{
  background-image: url('../img/val2.png');
}
.img-rounded .val3{
  background-image: url('../img/val3.png');
}
.img-rounded .val4{
  background-image: url('../img/val4.png');
}
.img-rounded .val5{
  background-image: url('../img/val5.png');
}
.img-rounded h3{
  color: #523C31;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  margin-bottom: 20px;
}

.advantages{
  text-align: center;
  padding-top: 106px;
  padding-bottom: 130px;
}
.advantages img,
.product-targets img{
  margin-bottom: 15px;
}

.product-targets{
  padding-bottom: 130px;
}
.product-targets h2{
  text-align: center;
  margin-bottom: 50px;
}
.product-targets h3{
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}
.product-targets .col-auto{
  padding: 0;
}

.subscribe{
  background-color: #F7F7F7;
  padding: 75px 0;
}
.subscribe input[type="text"],
.subscribe input[type="email"]{
  height: 45px;
  width: 245px;
}
.subscribe form{
  display: flex;
  justify-content: space-between;
}
.subscribe-text p:first-child{
  font-size: 36px;
}

.our-products h2{
  text-align: center;
  margin-bottom: 58px;
}
.our-products img{
  margin-bottom: 23px;
  width: 100%;
}
.our-products p a{
  color: #3F3F3F;
  text-decoration: underline;
}
.our-products p a:hover{
  color: #3F3F3F;
  text-decoration: none;
}
.all-photos{
  font-size: 12px;
  text-transform: uppercase;
  border: none;
  background: transparent;
  border-bottom: 1px solid #3F3F3F;
  cursor: pointer;
  margin-bottom: 35px;
}
.our-products{
  padding-top: 80px;
  padding-bottom: 110px;
}

.feedback{
  background-image: url('../img/bg1.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding: 70px 0;
}
.feedback input,
.feedback textarea{
  width: 100%;
}
.feedback form{
  margin: 0 auto;
  width: 600px;
  padding: 0 10px;
}
.feedback input{
  margin-bottom: 17px;
}
.feedback p{
  margin-bottom: 0;
  margin-top: 6px;
  color: #fff;
  font-size: 12px;
}
.feedback p a{
  color: #fff;
  text-decoration: underline;
}
.feedback p a:hover{
  color: #fff;
  text-decoration: none;
}
.feedback h2{
  margin-bottom: 65px;
}
.feedback .yellowBtn{
  margin-top: 25px;
  margin-bottom: 0;
}

footer{
  font-size: 14px;
  background-color: #fff;
}
.footer-main{
  padding-top: 75px;
  padding-bottom: 26px;
}
.footer-main p{
  margin-bottom: 13px;
}
footer .social-links{
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}
footer ul{
  list-style: none;
  color: #3F3F3F;
  padding: 0;
  margin-bottom: 0;
}
footer ul li{
  padding: 5px 0px;
}
footer ul a{
  color: #3F3F3F;
}
footer ul a:hover{
  color: #3F3F3F;
}
.footerBtn{
  width: 100%;
  background-color: transparent;
  color: #2163AD;
  border-radius: 25px;
  border: 1px solid #2163AD;
  height: 45px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s;
}

.last-line p{
  margin: 0;
}
.last-line{
  padding-top: 20px;
  padding-bottom: 23px;
}

/*белые точки слайдера*/
.slider-main .my-dots{
  width: 75%;
  text-align: end;
}
.my-dots {
  position: absolute;
  bottom:  10px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}
.my-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.my-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.my-dots li button:hover,
.my-dots li button:focus {
  outline: none;
}

.my-dots li button:hover:before,
.my-dots li button:focus:before {
  opacity: 1;
  content: url('../img/icons/dotYellow.svg');
}
.my-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: url('../img/icons/dotEmpty.svg');
  text-align: center;
  opacity: 1;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   
}
.my-dots li.slick-active button:before {
  opacity: 1;
  content: url('../img/icons/dotYellow.svg');
  color: black;
}
/*about-company*/
.card-number p{
  display: inline-block;
  margin-bottom: 0;
  font-size: 36px;
  color: #0C419A;
}
.card-number{
  display: flex;
  align-items: flex-end;
}
.card-white{
  padding: 19px 20px;
  text-align: center;
  background-color: #fff;
  width: 360px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.card-white p{
  margin-bottom: 0;
}
.card-white .title{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
}
.border-white{
  width: 100%;
  height: 15px;
  background-color: #fff;
}
.border-white-left{
  border-top-left-radius: 25px;
  border-top-right-radius: 50px;
}
.border-white-right{
  border-top-right-radius: 25px;
  border-top-left-radius: 50px;
}
.border-number{
  position: relative;
  right: 0px;
  width: 130px;
  text-align: center;
  bottom: -16px;
  background-color: #F5F5F5;
  border: 1px solid #F5F5F5;
  border-radius: 0px 0px 194px 194px / 0px 0px 150px 150px;
}
.cards{
  padding: 100px 0px;
}

.about-company-text{
  padding-left: 80px;
}
.video video{
  width: 100%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.video{
  padding-left: 0;
}
.about-company-text h2{
  text-align: left;
}
.about-company-text{
  display: flex;
  align-items: center;
}

.production-advantages{
  display: flex;
  flex-wrap: wrap;
}
.production-advantages-img{
  flex: 0 0 20%;
  max-width: 20%;
  margin-bottom: 46px;
}
.production-advantages-text{
  flex: 0 0 80%;
  max-width: 80%;
  display: flex;
  align-items: center;
  margin-bottom: 46px;
}
.production-advantages-text p{
  margin: 0;
}
.slider-production{
  height: 440px;
}
.slider-production img{
  width: 100%;
}
.our-production{
  padding-bottom: 80px;
}

.breadcrumb{
  background-color: #F5F5F5;
}
.breadcrumb-item+.breadcrumb-item::before{
  content: ">>"
}

.letters{
  padding-bottom: 130px;
}
.slider-letters .my-dots{
 bottom: -80px;
}

.sertificates{
  background-color: #fff;
  padding: 60px 0;
}

.partners{
  padding-top: 75px;
  padding-bottom: 150px;
}
.slider-partners .my-dots{
 bottom: -80px;
}

/*page-catalog*/
.catalog{
  padding-bottom: 75px;
}
.catalog h2{
  text-align: left;
}
.catalog-images{
  margin-bottom: 41px; 
}
.catalog-images div{
  height: 273px;
  border-radius: 25px;
  background-size: cover;
  margin-bottom: 32px;
  background-repeat: no-repeat;
}
.catalog-img1{
  background-image: url('../img/catalog/catalog-img1.png');
}
.catalog-img2{
  background-image: url('../img/catalog/catalog-img2.png');
}
.catalog-img3{
  background-image: url('../img/catalog/catalog-img3.png');
}
.catalog-img4{
  background-image: url('../img/catalog/catalog-img4.png');
}

/*page-catalog-subsection*/
.filters, .sorting{
  display: flex;
  margin-bottom: 50px;
}
.filters p, .sorting p{
  height: 55px;
  padding: 19px 15px;
  background-color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  color: #828282;
  margin-bottom: 0;
}
.filters p .active, .sorting p .active{
  text-decoration: underline;
  color: #3F3F3F;
}
.filters p:first-child{
  background-color: #2163AD;
  border-radius: 30px 0px 0px 30px;
  color: #fff;
}
.sorting p:first-child{
  background-color: #2163AD;
  border-radius: 30px 0px 0px 30px;
  color: #fff;
}
.filters select{
  width: 284px;
  background-color: #C8DDFF;
  border-radius: 0px 30px 30px 0px;
  color: #3F3F3F;
  border: none;
  padding-left: 22px;
  padding-right: 20px;
}
.last-sorting{
  width: 153px;
  border-radius: 0px 30px 30px 0px;
}
.filter,.sort{
  cursor: pointer;
}
.filter:hover,.sort:hover{
  text-decoration: underline;
}
.product-card{
  background-color: #fff;
  border-radius: 25px;
  font-size: 18px;
  text-align: center;
  padding: 8px 50px 1px 50px;
  margin-bottom: 30px;
}
.product-card img{
  margin-bottom: 12px;
}
.product-new{
  left: 10px;
  position: absolute;
  top: 0px;
  background-color: #24824D;
  text-transform: uppercase;
  color: #fff;
  width: 30px;
  font-size: 14px;
  border-radius: 25px 0px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (min-width: 1200px){
  .container{
  	max-width: 1304px;
  }
}

100
60
45
36
26
18
16
14
13
12